#caroussel {
  border: 5px solid red;
  position: relative;
  > div {
    background-color: $black;
    color: $light;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    &:nth-child(2){
      z-index: 1;
    }
  }
}